# WEB_SCRAPING using SELENIUM

In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\anshu\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\anshu\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\anshu\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\anshu\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\anshu\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: idna in c:\users\anshu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\anshu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\anshu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\anshu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\anshu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: attrs>=19.2.0 in c:\users\anshu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\anshu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\anshu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\anshu\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\anshu\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\anshu\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\anshu\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#downloading webdriver of same version of your browser----link('https://chromedriver.chromium.org/downloads')

In [43]:
#connecting to the webdriver-------driver=webdriver.Chrome(r'Chromedriver.exe')
driver=webdriver.Chrome(r'C:\Users\Anshu\Desktop\assignment\chromedriver.exe')

###### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.                                                                 You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [5]:
#openning the naukri page an automated chrome browser
driver.get('https://www.naukri.com/')

In [6]:
#entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [8]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [9]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [10]:
#scraping job title from the given tags
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')   

for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)    
    
    
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)    
    
    
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
#creating data frame
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'company_name':company_name,'Experience_required':experience_required})
df

,Job_title,Job_location,company_name,Experience_required
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
2,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
3,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
4,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
5,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
6,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
7,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
8,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
9,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs

In [13]:
#to fetch url 
url=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="1378a642-a8ac-4f7f-a4b2-420ce276d79c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="c65f8206-da83-426b-a001-2c8d3eea27a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="43387c8d-7558-4cfd-94da-2274726fae58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="4ebf4f49-d740-472f-b6e8-64582049e619")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="88929450-74e1-4dd0-a6c9-344f51690cb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="fca8196e-5f75-4a3d-98fb-c67b43f389b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="749719a1-5d07-4876-87b5-e2acaaffb7fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="ffda0e14-c934-48e8-9ab4-0fa57b711b92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="fd1036a9-bb1d-418b-8d77-9d9aed12ffac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="d3f7c359-a572-4163-a65c-c4871dd82e84")>]

In [14]:
for i in url[0:10]:                #let's provide range to print top 10 url
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-senior-data-analyst-latentview-analytics-private-limited-chennai-bangalore-bengaluru-3-to-6-years-290922002391
https://www.naukri.com/job-listings-data-analyst-varite-bangalore-bengaluru-2-to-5-years-011022500016
https://www.naukri.com/job-listings-data-analyst-crm-platform-artech-infosystem-mumbai-hyderabad-secunderabad-pune-chennai-ahmedabad-bangalore-bengaluru-1-to-6-years-270922903258
https://www.naukri.com/job-listings-data-analyst-jar-bangalore-bengaluru-0-to-4-years-290922501840
https://www.naukri.com/job-listings-hiring-for-data-analyst-da-team-lead-tl-clinical-data-management-cognizant-technology-solutions-india-pvt-ltd-kolkata-hyderabad-secunderabad-pune-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-250722007690
https://www.naukri.com/job-listings-call-for-clinical-data-analyst-hyd-bangalore-pune-mumbai-kolkata-cognizant-technology-solutions-india-pvt-ltd-kolkata-hyderabad-secunderabad-pune-bangalore-bengaluru-mumbai-all-areas-6-to-9-years-250722005743
https://www.naukri.com/job-listings-payroll-transformation-data-analyst-arrow-electronics-india-pvt-ltd-bangalore-bengaluru-5-to-10-years-280922502375
https://www.naukri.com/job-listings-payroll-transformation-data-analyst-arrow-electronics-inc-bangalore-bengaluru-3-to-7-years-290922502347
https://www.naukri.com/job-listings-master-data-management-business-analyst-accenture-solutions-pvt-ltd-bangalore-bengaluru-6-to-8-years-280922905968
https://www.naukri.com/job-listings-data-analytics-and-interpretation-business-analyst-accenture-solutions-pvt-ltd-bangalore-bengaluru-6-to-8-years-280922905883

In [15]:
job_titles=[]

In [16]:
start=0
end=2
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')     #to scrap data from next page
    next_button.click()
    time.sleep(3)        #page will sleep fpr 3 seconds.

In [17]:
len(job_titles)

39

In [18]:
job_titles

['Senior Data Analyst',
 'Data Analyst',
 'Data Analyst - CRM Platform',
 'Data Analyst',
 'Hiring For Data Analyst (DA)/ Team Lead (TL) -Clinical Data management',
 'Call For Clinical Data Analyst - Hyd/Bangalore/Pune/Mumbai/Kolkata',
 'Payroll Transformation Data Analyst',
 'Payroll Transformation Data Analyst',
 'Master Data Management Business Analyst',
 'Data Analytics and Interpretation Business Analyst',
 'Data analyst',
 'HR Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Management Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst | Fortune500 Retail Company',
 'Senior Data Analyst | Fortune500 Retail Company',
 'Senior Data Analyst',
 'Sr. SAP Hana Data Analyst',
 'Business Execution (Data and Reporting Analyst)',
 'Senior Data Management Analyst',
 'Data Analyst - Python / Artificial Intelligence',
 'Data Analyst',
 'Data Analyst - ETL/Python/SQL',
 'Marketing Automation Data Analyst',
 'Data Analyst, Digital Business',
 'Manager / Senior Manager - Data Analyst',
 'Data Analyst ( ADF, Azure Databricks )',
 'Executive Data Analyst',
 'Data Analyst - FinTech',
 'Data Analyst - FinTech',
 'K12 Techno Services - Data Analyst - IIM/ISB/MDI/FMS/SP Jain',
 'Manager/Senior Manager - Data Analyst',
 'Lead Data Analyst(SQL, Python)']

###### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [19]:
#openning the naukri page an automated chrome browser
driver.get('https://www.naukri.com/')

In [20]:
#entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [21]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [22]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [23]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [24]:
#scraping job title from the given tags
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')   

for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)    
    
    
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)    
    
    
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [25]:
#creating data frame
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'company_name':company_name,'Experience_required':experience_required})
df

,Job_title,Job_location,company_name,Experience_required
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis,9-14 Yrs
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
4,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra,10-14 Yrs
5,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
6,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates,5-8 Yrs
7,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro,8-13 Yrs
8,Opportunity For Senior Data Scientist/ Busines...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",PayU,4-6 Yrs
9,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,6-10 Yrs

In [26]:
#to fetch url 
url=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="5d7925f7-6543-4664-a4f0-8e65876af427")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="58b7c003-1e30-4dc1-8266-bd0751ab6908")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="45f9226e-5b3c-410e-abc8-6896a2ae0d3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="89d87eb6-a564-4d7d-b406-526b1bc2b718")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="a96009a8-98d3-42e1-92a3-640b4d66e8d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="a6181e4d-04a3-4860-a2a5-320c46608091")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="a49a2b6f-e9d9-4343-91df-db6bb7483457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="884351cb-672b-443f-8355-1f89e1b6edd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="69fbd561-3b35-44b4-bd67-ec49d67f8797")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756c5a89dcbc4cdc278c29283854966d", element="81f0c3e2-a855-4b56-9963-69f4ff6084f9")>]

In [27]:
for i in url[0:10]:                #let's provide range to print top 10 url
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-science-specialist-accenture-solutions-pvt-ltd-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-2-to-4-years-230922908330
https://www.naukri.com/job-listings-data-science-manager-accenture-solutions-pvt-ltd-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-4-to-7-years-230922908327
https://www.naukri.com/job-listings-mongodb-database-administrator-maria-db-or-cassandra-mphasis-limited-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-9-to-14-years-210922003779
https://www.naukri.com/job-listings-assistant-manager-data-science-citiustech-healthcare-technology-pvt-ltd-mumbai-pune-bangalore-bengaluru-5-to-9-years-010822004921
https://www.naukri.com/job-listings-data-scientist-tech-mahindra-ltd-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-10-to-14-years-180922001173
https://www.naukri.com/job-listings-senior-data-scientist-boston-consulting-group-mumbai-new-delhi-chennai-bangalore-bengaluru-5-to-10-years-210922500870
https://www.naukri.com/job-listings-data-scientist-zs-associates-new-delhi-pune-gurgaon-gurugram-bangalore-bengaluru-delhi-ncr-5-to-8-years-170822001728
https://www.naukri.com/job-listings-senior-data-scientist-wipro-limited-pune-chennai-bangalore-bengaluru-8-to-13-years-200922008774
https://www.naukri.com/job-listings-opportunity-for-senior-data-scientist-business-analyst-with-payu-payu-payments-private-limited-gurgaon-gurugram-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-4-to-6-years-210922003925
https://www.naukri.com/job-listings-lead-ml-scientist-fractal-analytics-ltd-mumbai-bangalore-bengaluru-6-to-10-years-180822503121

In [28]:
job_titles=[]

In [29]:
start=0
end=2
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')     #to scrap data from next page
    next_button.click()
    time.sleep(3)        #page will sleep fpr 3 seconds.

In [30]:
len(job_titles)

40

In [31]:
job_titles

['Data Science Specialist',
 'Data Science Manager',
 'Mongodb Database Administrator, Maria DB or Cassandra',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Opportunity For Senior Data Scientist/ Business Analyst with PayU',
 'Lead ML Scientist',
 'Senior Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - Computer Vision',
 'Exciting opportunity For model monitoring/model validation role!!',
 'Industry X - Software Engineering',
 'Module Lead - BIDW',
 'Data Scientist',
 'ACN - Applied Intelligence - C4DI - Sustainability - 09',
 'Senior Investment Risk Specialist - Data Science',
 'Senior Data Scientist',
 'Data Scientist I',
 'Senior Data Scientist',
 'Data Scientist/AIML Engineer',
 'Senior Bioinformatics Engineer - Python Developer',
 'Geospatial Data Engineer/Scientist',
 'Senior Data Scientist',
 'Data Scientist - Supply Chain',
 'Data Science Lead - Forecasting',
 'Data Scientist',
 'Python Programming Language Data Science Practitioner',
 'Data Scientist - Senior Analyst',
 'Data Scientist',
 'Data Scientist - A.P. Maersk',
 'Senior Data Scientist',
 'Deep Learning Engineer (SIPS-PS)',
 'Data Scientist',
 'Scientific Computing (Proactive SO)',
 'Staff Data Scientist (Operations Research)',
 'Principal Data Scientist',
 'General Data Scientist']

###### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

ASSIGNMENT 2

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [32]:
#openning the naukri page an automated chrome browser
driver.get('https://www.naukri.com/')

In [33]:
#entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [34]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Delhi/NCR')

In [35]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [36]:
salaries_list=[]

salaries=driver.find_elements(By.XPATH,'//div[@class="fleft mt-16 mr-8 bellyFilterComp br4 bgWhite"]')    
for i in salaries:
    salaries_list.append(i.text)

In [37]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [38]:
#scraping job title from the given tags
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')   

for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)    
    
    
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)    
    
    
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [39]:
#creating data frame
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'company_name':company_name,'Experience_required':experience_required})
df

,Job_title,Job_location,company_name,Experience_required
0,"Mongodb Database Administrator, Maria DB or Ca...","Delhi / NCR, Hyderabad/Secunderabad, Pune, Che...",Mphasis,9-14 Yrs
1,Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,5-10 Yrs
2,Data Scientist,"Delhi / NCR, New Delhi, Pune, Gurgaon/Gurugram...",ZS Associates,5-8 Yrs
3,Opportunity For Senior Data Scientist/ Busines...,"Delhi / NCR, Gurgaon/Gurugram, Bangalore/Benga...",PayU,4-6 Yrs
4,Exciting opportunity For model monitoring/mode...,"Delhi / NCR, New Delhi, Gurgaon/Gurugram, Bang...",EXL,4-7 Yrs
5,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",EXL,4-7 Yrs
6,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
7,Data Science - Lead Data Scientist,"Noida, Bangalore/Bengaluru",Paytm,3-5 Yrs
8,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
9,Hiring Data Science Intern - DataTrained Educa...,"Delhi / NCR, Noida, Kolkata, Hyderabad/Secunde...",DataTrained,0-2 Yrs

###### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.

ASSIGNMENT 2

4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [44]:
#openning the naukri page an automated chrome browser
driver.get('https://www.flipkart.com/')

In [45]:
#entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sunglasses')

In [48]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [49]:
for page in(0,3):
    Brand = []  #empty list
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    Brand

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@class="_1LKTO3"]"}
  (Session info: chrome=106.0.5249.91)
Stacktrace:
Backtrace:
	Ordinal0 [0x00591ED3+2236115]
	Ordinal0 [0x005292F1+1807089]
	Ordinal0 [0x004366FD+812797]
	Ordinal0 [0x004655DF+1005023]
	Ordinal0 [0x004657CB+1005515]
	Ordinal0 [0x00497632+1209906]
	Ordinal0 [0x00481AD4+1120980]
	Ordinal0 [0x004959E2+1202658]
	Ordinal0 [0x004818A6+1120422]
	Ordinal0 [0x0045A73D+960317]
	Ordinal0 [0x0045B71F+964383]
	GetHandleVerifier [0x0083E7E2+2743074]
	GetHandleVerifier [0x008308D4+2685972]
	GetHandleVerifier [0x00622BAA+532202]
	GetHandleVerifier [0x00621990+527568]
	Ordinal0 [0x0053080C+1837068]
	Ordinal0 [0x00534CD8+1854680]
	Ordinal0 [0x00534DC5+1854917]
	Ordinal0 [0x0053ED64+1895780]
	BaseThreadInitThunk [0x77066A14+36]
	RtlInitializeExceptionChain [0x77E5A9FF+143]
	RtlInitializeExceptionChain [0x77E5A9CA+90]

In [ ]:
for page in(0,3):
    Product_Description = []  #empty list
    pd_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pd_tag:
        Product_Description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [ ]:
for page in(0,3):
    Price = []  #empty list
    pr=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [ ]:
for page in(0,3):
    Discount = []  #empty list
    dis=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in dis:
        Discount.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [ ]:
#creating data frame
Sunglasses=pd.DataFrame({})

Sunglasses['Product_Description']=Product_Description[:100]
Sunglasses['Price']=Price[:100]
Sunglasses['Discount']=Discount[:100]

In [ ]:
#scraping brand_name from the given tags
start=0
end=5
for page in range(start,end):
    brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')   
    for i in brand_name[0:100]:
        brand=i.text
        brand_name.append(brand)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')      ## to scrap data from the next pAGE
    next_button.click()
    time.sleep(3)      #page will sleep for 5 seconds
    
#scraping Product_description
start=0
end=5
for page in range(start,end):
    Product_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Product_description[0:100]:
        desc=i.text
        Product_description.append(desc)  
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')      ## to scrap data from the next pAGE
    next_button.click()
    time.sleep(3)      #page will sleep for 5 seconds
    
    
    
#scraping Price
start=0
end=5
for page in range(start,end):
    Price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price[0:100]:
        price=i.text
        Price.append(price) 
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')      ## to scrap data from the next pAGE
    next_button.click()
    time.sleep(3)      #page will sleep for 5 seconds

In [ ]:
#creating data frame
df=pd.DataFrame({'BRAND':brand_name,'Product_Description':Product_description,'PRICE':Price})
df

###### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
You will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [ ]:
#openning the naukri page an automated chrome browser
driver.get('https://www.flipkart.com/')

In [ ]:
#entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('iphone 11')

In [ ]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [ ]:
#scraping data
Rating=[]      #creating empty lists
Review_summary=[]
Full_review=[]

In [ ]:
for page in range(1,12):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')   
    for i in rating[0:100]:
        rt=i.text 
        rating.append(rt)
    
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')   

    for j in review[0:100]:
        rev=j.text
        review.append(rev)
        
    full_review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')   

    for k in full_review[0:100]:
        frev=k.text
        review.append(frev)  
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')

In [ ]:
df=pd.DataFrame({'RATING_name':rating,'REVIEW_Summary':review,'FULL_REVIEW':full_review})
df

###### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [ ]:
#openning the naukri page an automated chrome browser
driver.get('https://www.flipkart.com/')

In [ ]:
#entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sneakers')

In [ ]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [ ]:
#creating the empty lists
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [ ]:
#scraping data
brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"')   

for i in brand[0:10]:
    brnd=i.text
    brand.append(brnd)